
:root{
    /* Variable for the Gold-Yellow in the Logo - will be used for font color */
    --ng-yellow: rgb(254,192,45);
}

/* Settings for body - background color to black and 20px margin */
body{
    background-color: black;
    margin: 2rem;
    padding: 2rem;
}

/* Settings for h1 tag (color, font type and size */
h1{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3.125rem;
    padding: 1rem 3rem;
}

/* Settings for h2 tag (color and font type */
h2{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

/*Settings for a tag (color, font type and size)*/
a{
    color: var(--ng-yellow);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.125rem;
    /*Remove underline*/
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem;
}

/* Settings for p tag (color, font type and size)*/
p{
    color: var(--ng-yellow);
    font-size: 1.25rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1.25rem 3rem;

}


/*Nav bar styling*/

/*Removing bullet points from nav bar, setting position from top*/
ul{
    list-style-type: none;
    top: 3.125rem;
    width: 68%;
    margin: auto;
}

/*setting each link in nav bar to be next to each other*/
li{
    display: inline-flex;
}

/*Text settings for nav bar*/
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0.875rem 1rem;
    text-decoration: none;
    background-color: #000000;
}

/* Different background color when mouse is hovering over nav link */
li a:hover{
    background-color: rgb(37, 37, 37);
}

/* End Nav bar styling */

/* Center logo at top of page */
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 17rem;
    height: 7.8rem;
  }

/* Setting the font, color, size, and alignment for "Powered by Xidax" in the footer */
#xidax{
    color: white;
    font-size: 1rem;
    text-align: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;


}

/* Setting the text for "Neebs Gaming Studios" in footer */
#ngs{
    color: white;
    font-size: 1.75rem;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

/* For text that I want to be white*/
/* For the Live Events Page - Events Section */
.event, .msg, .time, .loc{
    color: white;
}

/*Setting text for address */
address{
    color: var(--ng-yellow);
    font-style: normal;
    font-size: 1.875rem;
    padding-top: 12rem;
}

/* Setting font and background color for "Find out More" button on Patreon page */
#patreon{
    color: black;
    background-color: var(--ng-yellow);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4rem;
    grid-area: 2 / 4 / 3 / 5;
    align-content: center;
    font-weight: bold;
}

/*Setting font color to white for form label*/
label{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.socialBar{
    width: 35%;
    margin: auto;
}

#social{
    width: 1.50rem;
    height: 1.50rem;
}

